.sidebar-logo
{
    height: unset !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-logo
{
    width: 100px;
}

textarea.custom-textarea
{
    height: 100px !important;
}

.reg-form-group
{
    margin-bottom: 50px;
}