.sidebar-logo
{
    height: unset !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-logo
{
    width: 100px;
}

textarea.custom-textarea
{
    height: 100px !important;
}

.reg-form-group
{
    margin-bottom: 50px;
}

.usertype-label
{
    font-size: 10px;
    margin-left: 5px;
    padding: 5px 10px;
}